%h3 #{@trick.title}
%p
  Rating: #{@trick.rating}
  .progress
    .bar{:style => "width: #{@trick.rating * 10}%"}
  By 
  = link_to @trick.user.name, user_path(@trick.user.id)
  at 
  = link_to @trick.location.title, location_path(@trick.location.id)
  on #{@trick.created_at}
%p 
  %iframe{:title => "YouTube video player", :width => "640", :height => "390", :src => "#{ @trick.youtube_video }", :frameborder =>"0", :allowfullscreen=>true}
%p
  #{@trick.description}
  = link_to "Label", :controller => :tricks, :action => :post_fb, :params => { :trick_id => @trick.id }

%h4 Comments
%ul.media-list
  - @comments.each do |comment|
    %li.media
      %a.pull-left
    .media-body
      %h5.media-heading
        = comment.user.name
      Rating: #{comment.rating}
    %p= comment.body

%a{:href => "#myModal", :role => "button", :class => "btn", 'data-toggle' => "modal"}
  Add Comment

%div{:id => "myModal", :class => "modal hide fade", :tabindex => "-1", :role => "dialog", 'aria-labelledby' => 'myModalLabel', 'aria-hidden' => 'true'}
  .modal-header
    %button{:type => 'button', :class => 'close', 'data-dismiss' => 'modal', 'aria-hidden' => true}x
    %h3.myModalLabel Add Comment
  .modal-body
    = simple_form_for [@trick.location, @trick, @trick.trick_comments.new] do |f|
      = f.input :body
      = f.input :rating, :collection => 0..10
      = f.button :submit
