%h3 #{@trick.title}
%p
  Rating:
  .progress
    .bar{:style => "width: #{@trick.rating * 10}%"}
  %br/
  By 
  = link_to @trick.user.name, user_path(@trick.user.id)
  at 
  = link_to @trick.location.title, location_path(@trick.location.id)
  on #{@trick.created_at}
%p 
  %iframe{:title => "YouTube video player", :width => "640", :height => "390", :src => "#{ @trick.youtube_video }", :frameborder =>"0", :allowfullscreen=>true}
%p
  #{@trick.description}

%h4 Comments
%ul.media-list
  - @comments.each do |comment|
    %li.media
      %a.pull-left
    .media-body
      %h5.media-heading
        = comment.user.name
      %p= comment.rating
    %p= comment.body

= simple_form_for [@trick, @trick.trick_comments.new] do |f|
  = f.input :body
  = f.input :rating, :collection => 0..10
  = f.button :submit
