%h3 #{@trick.title}
%p
  By 
  = link_to @trick.user.name, user_path(@trick.user.id)
  at 
  = link_to @trick.location.title, location_path(@trick.location.id)
  on #{@trick.created_at}
%p
  #{@trick.description}
