%h3 #{@user.name}
.span4
  - if @user.profile_image
    = image_tag(@user.profile_image)

.span6
  %h5 About Me
  %p= @user.biography
  %table{:class => 'table table-hover'}
    %tbody
      %tr
        %td
          %b Board
        %td= @user.board
      %tr
        %td
          %b Trucks
        %td= @user.trucks
      %tr
        %td
          %b Bearings
        %td= @user.bearings
      %tr
        %td
          %b Wheels
        %td= @user.wheels

.span12
  %h4 Tricks (#{@user.tricks.count})
  %ul.thumbnails
    - @tricks.each do |trick|
      %li.span2
        .thumbnail
          %h4= link_to trick.title, location_trick_path(trick)
          = link_to image_tag(trick.youtube_thumbnail), location_trick_path(trick)
