- content_for :head do
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyB7f2A7fhm-C0t6GTU_rKguTK9jURXtUv8&sensor=false'

- content_for :javascripts do
  = javascript_include_tag 'users_show.js'

%h3 #{@user.name}
.span4
  - if @user.profile_image
    = image_tag(@user.profile_image)

.span6
  %h5 About Me
  %p= @user.biography
  %table{:class => 'table table-hover'}
    %tbody
      %tr
        %td
          %b Board
        %td= @user.board
      %tr
        %td
          %b Trucks
        %td= @user.trucks
      %tr
        %td
          %b Bearings
        %td= @user.bearings
      %tr
        %td
          %b Wheels
        %td= @user.wheels

.span6
  %h4 Tricks (#{@user.tricks.count})
  %ul.thumbnails
    - @tricks.each do |trick|
      %li.span2
        .thumbnail
          %h4= link_to trick.title, location_trick_path(trick)
          = link_to image_tag(trick.youtube_thumbnail), location_trick_path(trick)


.span5
  %h4 Areas Skated
  :javascript
    var json = #{@user.locations.to_json}
  %div#map_canvas{:style => "width: 100%;height: 450px;"}

