- content_for :head do
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyB7f2A7fhm-C0t6GTU_rKguTK9jURXtUv8&sensor=false'

- content_for :javascripts do
  = javascript_include_tag 'locations_index.js'

%h3 Locations

:javascript
  var json = #{@locations.to_json}

%div#map_canvas{:style => "width: 60%;height: 450px;", :class => "span4"}

%div.span4
  %h3#name
  %h4#description
  = image_tag "", id: "imag"
  %br/
  %br/
  %button#more{:class => "btn btn-primary"}
  %br/
  %br/
  = link_to 'New Location', new_location_path, class: "btn btn-primary"
