- content_for :head do
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyB7f2A7fhm-C0t6GTU_rKguTK9jURXtUv8&sensor=false'

- content_for :javascripts do
  = javascript_include_tag 'locations.js'

= simple_form_for @location do |f|
  = f.input :title
  = f.input :image_url
  = f.input :description
  = f.hidden_field :lat
  = f.hidden_field :long
  = f.button :submit


%input#address
%input{:onclick => "getAddress()",:type => "button"}
%div#map_canvas{:style => "position: absolute; left: 300px; top: 300px;width: 40%;height: 40%;"}
