- content_for :head do
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyB7f2A7fhm-C0t6GTU_rKguTK9jURXtUv8&sensor=false'

- content_for :javascripts do
  = javascript_include_tag 'locations_show.js'

%h3 #{@location.title}
%p
  Description: #{@location.description}
:javascript
  var lat = #{@location.lat}
  var lon = #{@location.long}
%div#map_canvas{:style => "position: absolute; left: 300px; top: 300px;width: 40%;height: 40%;"}
-# #{@location.lat}, #{@location.long}
%h5 Photos of location
%ul

%h5 Tricks at this location
%ul
  - @tricks.each do |trick|
    %li
      = image_tag trick.youtube_thumbnail
      %br/
      = link_to trick.title, location_trick_path(trick)
= link_to 'Add a Trick', new_location_trick_path(@location) , class: "btn btn-primary"
