- content_for :head do
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyB7f2A7fhm-C0t6GTU_rKguTK9jURXtUv8&sensor=false'

- content_for :javascripts do
  = javascript_include_tag 'locations_show.js'

.span12
  %h1 #{@location.title}
.span6
  = image_tag @location.image_url, :id => :locationImage
:javascript
  var lat = #{@location.lat}
  var lon = #{@location.long}
.span4
  #map_canvas
-# #{@location.lat}, #{@location.long}

.span12
  %p
    Description: #{@location.description}
  %h4 Tricks (#{@tricks.count})
  %ul.thumbnails
    - @tricks.each do |trick|
      %li.span2
        .thumbnail
          %h4= link_to (trick.title + ' - ' + trick.rating.to_s[0..3]), location_trick_path(trick)
          %p= link_to trick.user.name, user_path(trick.user)
          = link_to image_tag(trick.youtube_thumbnail), location_trick_path(trick)
  = link_to 'Add a Trick', new_location_trick_path(@location) , class: "btn btn-primary"
