%h3 #{@location.title}
%p
  Description: #{@location.description}
%p
  #{@location.lat}, #{@location.long}
%h5 Photos of location
%ul
  - @location_assets.each do |asset|
    %li
      = image_tag asset.url
%p
  = link_to 'Add Photo', new_location_asset_path(@location) , class: "btn btn-primary"


%h5 Tricks at this location
%ul
  - @tricks.each do |trick|
    %li
      = link_to trick.title, location_trick_path(trick)
= link_to 'Add a Trick', new_location_trick_path(@location) , class: "btn btn-primary"
