= link_to "Stompd", root_path, :class => 'brand'
%ul.nav
  %li
    = link_to 'Locations', locations_path
    = link_to 'Tricks', tricks_path
  - if user_signed_in?
    %li
      Logged in as #{current_user.name}
    %li
      = link_to 'Logout', signout_path
  - else
    %li
      = link_to 'Login', signin_path
